.git/
.gitignore
**/__pycache__/
**/*.pyc
**/.env
**/.env.*
!**/.env.example
**/.venv/
**/venv/
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/instance/
**/uploads/
**/data/
docs/
*.docx
*.doc
*.txt
*.log
.idea/
.vscode/
